<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}

    <p>Please, change your profile using the following form:</p>
    <form method="post">
        {% csrf_token %}
        <table>

            <tr>
                <td>{{ user_edit_form.first_name.tag }}</td>
                <td>{{ user_edit_form.first_name }}</td>
            </tr>

            <tr>
                <td>{{ user_edit_form.last_name.tag }}</td>
                <td>{{ user_edit_form.last_name }}</td>
            </tr>
            <tr>
                <td>{{ user_edit_form.mobile.tag }}</td>
                <td>{{ user_edit_form.mobile }}</td>
            </tr>
        </table>
        <p><input type="submit" value="Submit"></p>
    </form>
{% endblock %}
</body>
</html>