<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% for product in favourite_products %}
    <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
        <div class="card-body">
            <a href="{% url 'products:detail' product.id %}" class="fill-div"> {{ product.name }}</a>
            <p class="card-text">{{ product.description }}</p>
            <p class="card-text">Price - {{ product.price }}</p>
            <a href="{% url 'mycart:cart_add' product.id %}" class="btn btn-primary">Buy Now</a>
        </div>
    </div>
{% endfor %}
</body>
</html>